@charset "UTF-8";
/* -----------H-ui前端框架--H-ui.reset.css v1.2---------------*/
/*0.563 0.625*/
/*0.72 0.75*/
/*0.844 0.875*/
/*0.9375 1*/
@media only screen and (min-width: 320px) and (max-width: 359.9px) { html { font-size: 12px; } }
@media only screen and (min-width: 360px) and (max-width: 409.9px) { html { font-size: 14px; } }
@media only screen and (min-width: 410px) and (max-width: 459.9px) { html { font-size: 16px; } }
@media only screen and (min-width: 460px) and (max-width: 539.9px) { html { font-size: 19px; } }
@media only screen and (min-width: 540px) { html { font-size: 22px; } }
body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset { margin: 0; padding: 0; font-family: sans-serif, arial, "Microsoft Yahei", Verdana; line-height: 1; color: #7d7d7d; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; }

ul, ol, dl { list-style-type: none; }

html * { font-size: 1rem; word-wrap: break-word; box-sizing: border-box; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); outline: 0; }

input, button, textarea, select, optgroup, option, em { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

input, button, textarea { overflow: visible; vertical-align: middle; outline: none; -webkit-appearance: none; border-radius: 0; }

body { min-width: 320px; overflow-x: hidden; overflow-y: auto; background: #f8f8f8; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

a, area { outline: none; }

a { color: #252525; text-decoration: none !important; }

a:focus, a:hover, a:active, :focus { outline: none; }

img { border: 0; vertical-align: middle; }

a img, img { -ms-interpolation-mode: bicubic; }

a:vistied { text-decoration: none; }

/* 重置table属性 */
table { width: 100%; border-collapse: collapse; border-spacing: 0; }

/*HTML5 reset*/
header, footer, section, aside, details, menu, article, section, nav, address, hgroup, figure, figcaption, legend { display: block; margin: 0; padding: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.fr { float: right; }

.fl { float: left; }

.txt-l { text-align: left; }

.txt-r { text-align: right; }

.red { color: #c23531; }

header { position: relative; height: 3.8333rem; line-height: 3.8333rem; color: #fff; font-size: 1.5rem; font-weight: bold; text-align: center; background: #15b5ff; }

header .h-icon { width: 2.1667rem; height: 100%; position: absolute; top: 0; z-index: 9; }

header span { color: #fff; font-size: 1.5rem; font-weight: bold; text-align: center; }

header .l-icon { left: 0.8333rem; background: url(../images/left.png) center center no-repeat; background-size: 2.1667rem; }

header .r-icon { right: 0.8333rem; background: url(../images/share.png) center center no-repeat; background-size: 2.1667rem; }

table { border: 2px solid #aae4fe; padding: 0; margin: 0 auto; }

td, th { border: 1px solid #aae4fe; padding: 0.6667rem; text-align: center; line-height: 1.6667rem; background: #fff; }

section { background: #fff; margin-bottom: 0.8333rem; }

.sec-main { padding: 0.8333rem; }

.sec-bandage .sec-tit { text-align: center; margin: 14px 0 8px; }
.sec-bandage .sec-tit .tit-box { display: inline-block; position: relative; width: 66.875%; text-align: center; padding: 2px; background: #fff; }
.sec-bandage .sec-tit .tit-txt { width: 100%; height: 2.8333rem; line-height: 2.8333rem; text-align: center; font-size: 1.1667rem; color: #fff; background: #33a6e1; border: 2px solid #fff; }
.sec-bandage .sec-tit .tit-r { position: absolute; right: -1.9167rem; /*margin-right: 0;*/ top: 0.6667rem; z-index: 9; width: 3.3333rem; height: 2.8333rem; background: url(../images/bandage.png) no-repeat; background-size: 3.3333rem 2.8333rem; }
.sec-bandage .sec-tit .tit-l { position: absolute; left: -1.9167rem; /*margin-right: 0;*/ top: 0.6667rem; z-index: 9; width: 3.3333rem; height: 2.8333rem; background: url(../images/bandage.png) no-repeat; background-size: 3.3333rem 2.8333rem; transform: rotateY(180deg); }
.sec-bandage i { width: 1.6667rem; height: 1.6667rem; border-radius: 50%; display: inline-block; vertical-align: middle; margin-right: 0.5rem; }
.sec-bandage .i-teacher { background: url(../images/i-person.png) #84d8fe center center no-repeat; background-size: 1.1667rem; }
.sec-bandage .i-classDate { background: url(../images/i-classTime.png) #c2e96e center center no-repeat; background-size: 1.1667rem; }
.sec-bandage .i-duration { background: url(../images/i-clock.png) #fdbf57 center center no-repeat; background-size: 1.1667rem; }
.sec-bandage .i-timeRange { background: url(../images/i-sandglass.png) #ff9494 center center no-repeat; background-size: 1.1667rem; }
.sec-bandage td:first-child { font-weight: bold; }

.sec-common .sec-tit { border-bottom: 1px solid #f4f4f4; padding: 0.8333rem 0; }
.sec-common .tit-main { height: 1.1667rem; font-size: 1.1667rem; color: #252525; border-left: 2px solid #15b5ff; padding-left: 1rem; }

table { margin-bottom: 0.8333rem; }
table:last-child { margin-bottom: 0; }

.footernote { line-height: 1.5; }

.td-half { width: 50%; }

.input-item { width: 9em; }
.input-item input::-webkit-input-placeholder { color: #15b5ff; }
.input-item .ratio-input { background: url(../images/i-pencil.png) 0 center no-repeat; padding-left: 1.3333rem; border: 0; color: #15b5ff; height: 1.1667rem; width: 7.5em; background-size: 1.1667rem; }

.color { color: #7d7d7d; }

.wd-5-5 { width: 5.5em !important; }

textarea { width: 100%; height: 10rem; border: 1px solid #d7d7d7; }

.btn-box { margin: 0.8333rem; text-align: center; color: #fff; background: #15b5ff; border-radius: 0.25rem; line-height: 2.6667rem; }
